# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
media/
staticfiles/
.env

# Django migrations (keep this commented out — migrations SHOULD be committed)
# */migrations/*.py
# !*/migrations/__init__.py


# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files (both backend and frontend)
.env.local
.env.*.local